*{/**selector universal*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
/*llamar a las clases*/
.main{
width: 100%;/*ancho*/
height: 100vh;
}

.section-1{
    width: 100%;
    height: 6.5em; /*1em equivale a 16px, tendriamos 160px*/
    background: linear-gradient(rgb(247, 80, 2), blue);
    padding-top: 1.6em;
    position: sticky;
    top: 0;
    
}

.header{
    background-color: black;
    width: 100%;
    height: 4.5em;
    display: flex;
    flex-direction: row;
    
}
.img{
width: 15%;
height: 100%;/*100%de su padre header*/
}

h1{
        font-family: "Bungee Spice", sans-serif;
        font-weight: 500px;
        font-style: normal;
        text-align: center;
        font-size: 32px;
        width: 25%;
        height: 100%;
        
    
}

.menu{
width: 75%;
height: 100%;
display: flex;/*indica la capacida de un elemento flexible para alterar sus dimensiones*/
flex-direction: row;
justify-content: right;/*posición hacia donde mover de izq. a derecha*/
align-items: center;/*alinea de arriba a abajo nuestro item*/

}

.img img{/*selector descendiente, se usa la lase img y su hijo img que es la imagen en sí*/
    object-fit: cover;/*nos ayuda a conservar el aspecto de la imagen*/
    height: 100%;
}
.menu a{/*se recurre a los hijos de meu para trabajar en ellos*/
display: flex;
text-decoration: none;/*saca linea de bajo del texto*/
text-align: center;
padding: 0 0.3em;
  font-family: "Honk", system-ui;
  font-size: x-large;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}


/*fin seción 1*/

/*Comienzo section-2*/
.section-2
{
    width: 100%;
    height:calc(100vh-20em); /*1em equivale a 16px, tendriamos 160px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;/*tamaño letras, su valor se basa en el de supadre*/
    text-align: center;/*alinea el texto*/
    color: red;


}

.s2-texto hr{
    width: 5%;
    height: 0.25em;
    background-color: red;
    border: none;/*quita los bordes contorno*/
    border-radius: 1em; /*modifica sus bordes*/
    margin: 1em auto;
}

.s2-texto p{
    font-size: 1.25em;
    text-align: center;

}
.s2-contenido{
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
}

.contenido-img{
     width: 100%;
     height: 50%;
     overflow: hidden;
 }
.contenido-img img{
    object-fit: cover;
    width: 100%;
    
} 

.contenido-texto{
    
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em 0;
}

.s2-texto{
    width: 80%;
    height: 20%;
}

.s2-img{
width: 80%;
height: 80%;
display: flex;
flex-direction: row;
flex-wrap: wrap;

}

.contenido-texto h2{
font-size: 1.25em;

}
.contenido-texto p{
    font-size: 1.25em;
    margin: 1em 0;
    text-align: center;

}
.contenido-texto a{
text-decoration: none;
color: white;
background-color: red;
width:35%;
padding: 0.5em 0;
border: none;
border-radius: 30px;
text-align: center;
box-shadow: 3px 3px 3px black;
}



/*fin section-2*/

/*comienzo section-3*/
.section-3
{
    width: 100%;
    height: 10em; /*1em equivale a 16px, tendriamos 160px*/
    background: linear-gradient(rgb(247, 80, 2), blue);
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    min-width: 250px;
    
}
.section-3 hr{
background-color: black;
width: 100%;
height: 5%;
border: none;
}

.s3-contenido{
width: 100%;
height: 65%;
display: flex;
flex-direction: row;
justify-content: center;
}
.s3-logo{
    width: 60%;
}

.s3-logo img{
    object-fit: cover;
    height: 100%;
}

.s3-texto {
width: 40%;
color: white;
font-size: 1em;
}

.s3-texto a{
    color: white;
}

.footer{
    width: 100%;
    height: 30%;
    border-top: orange solid 0.0625em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 10%;

}

.autor{
text-decoration: none;
color: white;
}

.politicas{
text-decoration: none;
color: white;
margin: 2em;
padding: 0 2px;
}

/*fin section-3*/

.body {
    background-color: white;
}
.registrar {
    width: 500px;
    background: rgb(12, 155, 221);
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    }
    
    h4{
    font-size: 22px;
    margin-bottom: 20px;
    }
    
    .control {
        width: 100%;
        background: cornflowerblue;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        color: white;
    }
    
    .registrar p{
        height: 40px;
        text-align: center;
        font-size: 18px;
    }
    
    .registrar a {
        color: white;
        text-decoration: none;
    
    }
    
    .registrar a:hover {
        color: white;
        text-decoration: underline;
    }
    
    .registrar .boton {
        width: 100%;
        background-color: blue;
        border-radius: 12px;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }
    
    .inicio {
        font-size: 20px;
        text-decoration: none;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    
    /*********contacto************/

.b2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px black;/*estilo sombreado*/
    border-radius: 20px;
    text-align: center;
    width: 400px;
}

.input-goup {
    display: flex;
    flex-direction: column;
    text-align: left;
}
 .contact {
    color:black;
    font-size: 35px;
 }

label {
    color: grey;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    outline: none;
}

.forma-texto a {
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
 .btn {
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color: rgb(30, 73, 30);
    box-shadow: 0 0 20px;
 }

    
    /*************Nosotros*************/



.bu{
    height: 100vh;
    background: linear-gradient(rgb(224, 5, 5), rgb(233, 105, 105), rgb(233, 160, 160));
    
}
 .nosotros {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;/*tamaño letras, su valor se basa en el de supadre*/
    text-align: center;/*alinea el texto*/
    color: white;
    background-color: black;
    width: 100%;
 }

 .ubicacion {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;/*tamaño letras, su valor se basa en el de supadre*/
    text-align: center;/*alinea el texto*/
    padding: 1em;
    color: black
    
 }

 .ubicacion p{
    text-align: center;
 }
 
/**********************/

@media (max-width:500px) {

    .menu{
        flex-direction: column;
    align-items: end;       
        
}

.menu a {
font-size: large;

}

    h1{
        width: 35%;
    }
    .img {
        width: 20%;
} 

    .s2-contenido {
        width: 100%;
        flex-direction: row;
    }
.s3-texto {
    width: 80%;
}
    
}
